<footer role="footer" class="container-variable bg-white">

    <div class="col-xs-12">

        <ul class="list-unstyled list-inline text-center">

            <li><a href="{{ site.englishdept }}" target="_blank">USU English Department</a></li>

        </ul>
        
        <ul class="list-unstyled list-inline text-center">

            <li><a href="#"><i class="fa fa-facebook-official fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>

        </ul>

    </div>

    <div class="col-xs-12">

        <ul class="list-unstyled list-inline text-center small text-uppercase">

            <li>&copy; 2015 USU Technical Communication and Rhetoric</li><br>
            <li>Ray B. West Bldg., Logan, UT 84322-3200</li>

        </ul>

    </div>

    <div class="col-xs-12">

        <ul class="list-unstyled list-inline text-center small text-uppercase">

            <li><a href="mailto:jccarter1990@gmail.com">Report an Error / Suggest an Edit</a></li>

        </ul>

    </div>

</footer>
