<header role="banner">

  <div class="bg-usu-blue">

    <div id="global-header" class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <a href="http://usu.edu" target="_blank"><img class="img-responsive" src="{{ "/img/logo/usu_horizontal.png" | prepend: site.baseurl }}" alt="Utah State University wordmark"></a>
        </div>

        <div class="hidden-xs col-sm-6">

          <div class="header-navigation" role="navigation">

            <ul class="list-unstyled list-inline">
              <li><a href="http://www.usu.edu" target="_blank"><span class="fa fa-home fa-lg"></span><span class="sr-only">USU Home</span></a></li>
              <li><a href="http://usu.edu/azindex/" target="_blank">A-Z index</a></li>
              <li><a href="http://usu.edu/myusu/" target="_blank">MyUSU</a></li>
              <li><a href="http://directory.usu.edu/" target="_blank">Directory</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

  <nav class="navbar navbar-techCom" style="margin-bottom:0;">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 navbar-techCom-bg">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tc-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/logo/tcr-logo-full.png" | prepend: site.baseurl }}"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="tc-collapse">

            <ul class="nav navbar-nav navbar-popover">
                <li class="dropdown">
                  <a id="menu-bachelors" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bachelors's <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ "/bachelors/" | prepend: site.baseurl }}">About the Program</a></li>
                    <li><a href="{{ "/bachelors/requirements" | prepend: site.baseurl }}">Degree Requirements</a></li>
                    <li><a href="{{ "/bachelors/courses" | prepend: site.baseurl }}">Topics Courses</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="menu-masters" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master's <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ "/masters/" | prepend: site.baseurl }}">About the Program</a></li>
                    <li><a href="{{ "/masters/application" | prepend: site.baseurl }}">Application Procedure</a></li>
                    <li><a href="{{ "/masters/courses" | prepend: site.baseurl }}">Courses</a></li>
                    <li><a href="{{ "/masters/financial" | prepend: site.baseurl }}">Financial Information</a></li>
                    <li><a href="{{ "/masters/faq" | prepend: site.baseurl }}">Frequently Asked Questions</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="menu-phd" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PhD <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ "/phd/" | prepend: site.baseurl }}">About the Program</a></li>
                    <li><a href="{{ "/phd/application" | prepend: site.baseurl }}">Application Procedure</a></li>
                    <li><a href="{{ "/phd/requirements" | prepend: site.baseurl }}">Degree Requirements</a></li>
                    <li><a href="{{ "/phd/curriculum" | prepend: site.baseurl }}">Curriculum</a></li>
                    <li><a href="{{ "/phd/timeline" | prepend: site.baseurl }}">Timeline to Graduation</a></li>
                    <li><a href="{{ "/phd/financial" | prepend: site.baseurl }}">Financial Information</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a id="menu-people" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ "/people/faculty" | prepend: site.baseurl }}">Faculty</a></li>
                    <li><a href="{{ "/people/students" | prepend: site.baseurl }}">Students</a></li>
                  </ul>
                </li>
            </ul>

            <!-- <ul class="nav navbar-nav navbar-right aux-menu">

<li><a href="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
<li><a href="social"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>

</ul> -->

          </div><!-- /.navbar-collapse -->

        </div>

      </div>
    </div><!-- /.container-variable -->
  </nav>

</header>