<header role="banner">

  <div class="bg-usu-blue">

    <div id="global-header" class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <a href="http://usu.edu" target="_blank"><img class="img-responsive" src="{{ "/img/logo/usu_horizontal.png" | prepend: site.url }}" alt="Utah State University wordmark"></a>
        </div>

        <div class="hidden-xs col-sm-6">

          <div class="header-navigation" role="navigation">

            <ul class="list-unstyled list-inline">
              <li><a href="http://www.usu.edu" target="_blank"><span class="fa fa-home fa-lg"></span><span class="sr-only">USU Home</span></a></li>
              <li><a href="http://usu.edu/azindex/" target="_blank">A-Z index</a></li>
              <li><a href="http://usu.edu/myusu/" target="_blank">MyUSU</a></li>
              <li><a href="http://directory.usu.edu/" target="_blank">Directory</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

  <nav class="navbar navbar-techCom" style="margin-bottom:0;">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 navbar-techCom-bg">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tc-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | prepend: site.url }}"><img src="{{ "/img/logo/tcr-logo-full.png" | prepend: site.url }}"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="tc-collapse">

            <ul class="nav navbar-nav navbar-popover">

              {% for section in site.data.sections %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ section.menu }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  {% for page in section.pages %}
                    <li><a href="{{ page.url | prepend: site.url }}">{{ page.title }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}

            </ul>

            <!-- <ul class="nav navbar-nav navbar-right aux-menu">

<li><a href="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
<li><a href="social"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>

</ul> -->

          </div><!-- /.navbar-collapse -->

        </div>

      </div>
    </div><!-- /.container-variable -->
  </nav>

</header>