<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#tc-sidenav">

    {% include header.html %}

    <main>

      <div class="container">

        <div class="row">

          <article class="col-xs-12 col-sm-9" style="margin-top:24px;">

            <div class="col-xs-12">

              <div class="page-header">
                <h1><small>{{ page.section }}</small><br>{{ page.title }}</h1>
              </div>

            </div>

            {{ content }}

          </article>

          <nav class="col-sm-3 hidden-xs tc-sidenav" id="tc-sidenav" data-spy="affix" data-offset-top="109">

            <h2 class="h4">{{ page.title }}</h2>

            <ul class="nav list-unstyled"></ul>

          </nav>

        </div>

      </div>

    </main>

    {% include footer.html %}

    <script type="text/javascript">

      $(function() {
        var $section = $('section');
        var $h2 = $('h2');
        var $sideNav = $('.tc-sidenav ul');
        $section.each(function() {
          var content = $(this).children('h2').html();
          var contentTrimmed = content.replace(/\s/g,'').toLowerCase();
          $(this).attr('id', contentTrimmed);
          $sideNav.append('<li><a href="#' + contentTrimmed + '">' + content + '</a></li>');
        });
        $sideNav.append('<li class="back-to-top"><a href="#">Back to top</a></li>')
      });

    </script>

  </body>

</html>
