<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      <div class="container">

        <div class="row">

          <article class="col-xs-12 col-sm-9" style="margin-top:24px;">

            <div class="col-xs-12">

              <div class="page-header">
                <h1><small>{{ page.section }}</small><br>{{ page.title }}</h1>
              </div>

            </div>

            {{ content }}

          </article>
          
          <nav class="col-sm-3 hidden-xs">
          
            <p class="h4">{{ page.short }}</p>
          
          </nav>

        </div>

      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
